.container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .innerBox {
    min-width: 480px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.6);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom:10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  
  
  .logo {
    text-align: center; /* Centers the content horizontally */
        /* Adds padding around the content */
  }
  
  .logo img {
    width: 150px;       /* Sets a fixed width for the logo */
    height: 150px;      /* Sets a fixed height for the logo */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover;  /* Ensures the image covers the area without distortion */
    /* Adds space below the image */
    border: 1px solid #6d6565; /* Optional: Adds a border around the circle */
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.7);
  }
  
  .logo h6 {
    color: #636363;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 7px;
    animation: blink-animation 1.5s infinite;
  }
  
  @keyframes blink-animation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  .heading{
    color:  #737373;
    text-align: center;
    margin: 5px;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 13px;
  }
  
  .footer .error {
    font-weight: bold;
    font-size: 0.875rem;
    color: #675080;
    text-align: center;
  }
  
  .footer button {
    outline: none;
    border: none;
    background-color: #674F7F;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
  }
  
  .footer button:disabled {
    background-color: gray !important;
  }
  
  .footer button:hover {
    background-color: #443157;
  }
  
  .footer p {
    font-weight: 700;
    color: #675080;
  }
  
  .footer p span a {
    font-weight: bold;
    color:  #737373;
    letter-spacing: 1px;
    font-size: 1rem;
    text-decoration: none;
  }
  